
@{
    ViewBag.Title = "Confirmation";
}
<link rel="stylesheet" href="~/Content/CSSFiles/confirmation.css" />
<h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: green;" >Your reservation has been confirmed!</h3>

