

<main id="content">
    <section id="aboutUsMain">
        <div class="mainPartsAboutUs">
            <div class="divPartsAboutUs">
                <h1>Shakespeare Theater Stage</h1>
                <p>Founded in 2022, the "Shakespeare Theater" is an educational and living space that focuses on acting.</p>
                <p>The theater stage takes its name from the famous writer William Shakespeare.The most famous plays of Shakespeare are exhibited on our theater stage.</p><br><br><br>
                <h3>What does our website do?</h3>
                <p>It allows you to get information about the plays exhibited on our stage and make reservations for our theater plays.</p>
            </div>
            <div class="divPartsAboutUs featuresImgAboutUs">
            </div>

        </div>
    </section>
</main>
