
<main id="content">
    <section id="aboutUsMain">
        <div class="mainParts">
            <div class="divPartsEvent">
                <div class="firstEvent">
                    <img src="~/Content/assets/images/bg.jpg" />
                </div> <br>
            </div>
            <div class="divPartsEvent2">
                <div class="calendarEvent">
                    <ul class="weekdays">
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                        <li>Su</li>
                    </ul>

                    <ul class="days">
                        <li><span class="discountStd">1</span></li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li><span class="free">7</span></li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li><span class="discountStd">12</span></li>
                        <li>13</li>
                        <li>14</li>
                        <li><span class="discount">15</span></li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li><span class="discount">23</span></li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                    </ul>
                </div>
                <p id="pinfoEvent">
                    Check the calendar to take advantage of<br>
                    our free and discounted events held on <br>
                    certain days of each month.
                </p><br>
            </div>

            <div class="divPartsEvent3">
                <div class="EventsINFO">
                    <div class="freeEvent">
                        <h3 id="h31Event">Free Events</h3> <hr id="hr1Event" />
                        <p id="p1Event">The theater games played on the 7th of the month are free of charge. Tickets are limited</p>
                        <p id="p1Event">Get Information About Theaters</p>
                        <a href=@Url.Action("Theater","Home")><button class="buttonStyleEvent1">Details</button></a>
                    </div>
                    <div class="discountEvent">
                        <h3 id="h32Event">Discount</h3> <hr id="hr2Event" />
                        <p id="p2Event">There is a 50% discount on the tickets of the theater plays exhibited on the 15th and 23rd of the month.</p>
                        <p id="p2Event">Get Information About Theaters</p>
                        <a href=@Url.Action("Theater","Home")><button class="buttonStyleEvent2">Details</button></a>
                    </div>
                    <div class="discountStdEvent">
                        <h3 id="h33Event">Discount For Students</h3> <hr id="hr3Event" />
                        <p id="p3Event">The theater plays exhibited on the 1st and 12th of the month are free of charge for students.</p>
                        <p id="p3Event">Get Information About Theaters</p>
                        <a href=@Url.Action("Theater","Home")><button class="buttonStyleEvent3">Details</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>