<main>
    <section class="welcome">
        <h1> Welcome to Shakespeare Theater Stage</h1>
    </section>

    <section class="mostPopularShows">
        <h2>Most Popular Shows</h2>

        <div class="BoxHome">
            <div class="boxPartsHome">
                <h3><i>Romeo & Juliet</i></h3>
                <p style="color:wheat;">A long feud between the Montague and Capulet families disrupts the city of Verona and causes tragic results for Romeo and Juliet. Revenge, love, and a secret marriage force the young star crossed lovers to grow up quickly and fate causes them to commit suicide in despair.</p>
                <div id="rjHome"><a href=@Url.Action("Theater","Home")><img src="~/Content/assets/images/rj.jpg" title="Get Information" /></a></div> <br>
                <a href=@Url.Action("Login","Security")><button class="buttonStyleHome">Get Ticket</button></a>
            </div>

            <div class="boxPartsHome">
                <h3><i>Julius Caesar</i></h3>
                <p style="color:wheat;">Jealous conspirators convince Caesar's friend Brutus to join their assassination plot against Caesar. To stop Caesar from gaining too much power, Brutus and the conspirators kill him on the Ides of March. Mark Antony drives the conspirators out of Rome and fights them in a battle.</pstyle="color:wheat;>
                <div id="jsHome"><a href=@Url.Action("Theater","Home")><img src="~/Content/assets/images/js.jpg" title="Get Information" /></a></div> <br>
                <a href=@Url.Action("Login","Security")><button class="buttonStyleHome">Get Ticket</button></a>
            </div>

            <div class="boxPartsHome">
                <h3><i>Prometheus Bound</i></h3>
                <p style="color:wheat;">Prometheus Bound, Greek Promētheus desmōtēs, tragedy by Aeschylus, the dating of which is uncertain. The play concerns the god Prometheus, who in defiance of Zeus (Jupiter) has saved humanity with his gift of fire. For this act Zeus has ordered that he be chained to a remote crag.</p>
                <div id="pHome"><a href=@Url.Action("Theater","Home")><img src="~/Content/assets/images/p.jpg" title="Get Information" /></a></div> <br>
                <a href=@Url.Action("Login","Security")><button class="buttonStyleHome">Get Ticket</button></a>
            </div>
        </div>
    </section>
</main>