@model TheaterReservationPage.Models.ContactModel

<html>
<head>
    <title>Result</title>
</head>


<body>
    <div>
        <b>
            firstname: @Model.FirstName <br /><br />
            lastname:  @Model.LastName <br /><br />
            email:     @Model.Email <br /><br />
            gender:     @Model.Gender <br /><br />
        </b>


    </div>
</body>



</html>