

<main id="mainTheater">
    <section id="sectionTheater">
        <div class="theaters">
            <div class="div1Theater">
                <h3><i>Romeo & Juliet</i></h3>
                <p>A long feud between the Montague and Capulet families disrupts the city of Verona and causes tragic results for Romeo and Juliet. Revenge, love, and a secret marriage force the young star crossed lovers to grow up quickly and fate causes them to commit suicide in despair.</p>
                <hr id="hr1Theater" />
                <div id="rjTheater">
                    <img src="~/Content/assets/images/rj.jpg" />
                </div>
            </div>
            <div class="div2Theater">
                <h3><i>Julius Caesar</i></h3>
                <p>Jealous conspirators convince Caesar's friend Brutus to join their assassination plot against Caesar. To stop Caesar from gaining too much power, Brutus and the conspirators kill him on the Ides of March. Mark Antony drives the conspirators out of Rome and fights them in a battle.</p>
                <hr id="hr1Theater" />
                <div id="jsTheater">
                    <img src="~/Content/assets/images/js.jpg" />
                </div>
            </div>
            <div class="div3Theater">
                <h3><i>Prometheus Bound</i></h3>
                <p>Prometheus Bound, Greek Promētheus desmōtēs, tragedy by Aeschylus, the dating of which is uncertain. The play concerns the god Prometheus, who in defiance of Zeus (Jupiter) has saved humanity with his gift of fire. For this act Zeus has ordered that he be chained to a remote crag.</p>
                <hr id="hr1Theater" />
                <div id="pTheater">
                    <img src="~/Content/assets/images/p.jpg" />
                </div>
            </div>
            <div class="div4Theater">
                <h3><i>Hamlet</i></h3>
                <p>The ghost of the King of Denmark tells his son Hamlet to avenge his murder by killing the new king, Hamlet's uncle. Hamlet feigns madness, contemplates life and death, and seeks revenge. His uncle, fearing for his life, also devises plots to kill Hamlet.</p>
                <hr id="hr1Theater" />
                <div id="jsTheater">
                    <img src="~/Content/assets/images/h.jpg" />
                </div>
            </div>
            <div class="div5Theater">
                <h3><i>Private Lives</i></h3>
                <p>Private Lives is a 1930 comedy. It concerns a divorced couple who, while honeymooning with their new spouses, discover that they are staying in adjacent rooms at the same hotel. Despite a perpetually stormy relationship.</p>
                <hr id="hr1Theater" />
                <div id="jsTheater">
                    <img src="~/Content/assets/images/pl.jpg" />
                </div>
            </div>
            <div class="div6Theater">
                <h3><i>Arcadia</i></h3>
                <p>Arcadia explores the nature of evidence and truth in the context of modern ideas about history, mathematics, and physics. It shows how clues left by the past are interpreted in the present, by both laypeople and scholars.</p>
                <hr id="hr1Theater" />
                <div id="jsTheater">
                    <img src="~/Content/assets/images/ar.jpg" />
                </div>
            </div>
        </div>
    </section>
</main>

